main{
    display: flex;
}
div{
    outline: black;
    outline-style: solid;
}
h1{
    text-align: center;
}

.test{
    padding: 5px;
    background-color: aqua;
}
#library-container{
    display: flex;
}